h1{
    font-family: 'Orelega One', cursive;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.stay-focused{
    width: 80%;
    display: flex;
    margin: auto;
}
.focus{
    width: 40%;
    margin-top: 100px;
}
.focus h1{
    font-size: 50px;
    font-weight: 700;
}
.orange{
    color: orange;
}
.border{
    border-left: 5px solid orangered;
    padding-left: 10px;
}
.focus-image{
    width: 40%;
    padding-left: 150px;
}
.focus-image img{
    width: 100%;
}
.btn{
    background-color: #fc6c38fd;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
}
