h1{
    font-family: 'Orelega One', cursive;
}
.second-part h1{
    text-align: center;
    font-size: 40px;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.stay-focused{
    width: 80%;
    display: flex;
    margin: auto;
}
.focus{
    width: 40%;
    margin-top: 100px;
}
.focus h1{
    font-size: 50px;
    font-weight: 700;
}
.orange{
    color: orange;
}
.border{
    border-left: 5px solid orangered;
    padding-left: 10px;
}
.focus-image{
    width: 40%;
    padding-left: 150px;
}
.focus-image img{
    width: 100%;
}
.btn{
    background-color: #fc6c38fd;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
}
.mission-area{
    display: flex;
}
.mission{
    width: 25%;
    background-color: rgba(193, 227, 241, 0.326);
    border-radius: 20px;
    margin-left:120px;
}
.vission{
    width: 25%;
    background-color:rgba(240, 194, 202, 0.304);
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.goals{
    width: 25%;
    background-color: rgba(247, 247, 186, 0.541);
    border-radius: 20px;
    padding: 10px;
    
}
.img img{
    width: 50%;
}
.para{
    padding: 0px 20px;
}
.para p{
    font-size: 12px;
}
.second-part{
    margin-top: 100px;
}
.develop-area{
    display: flex;
    margin-top: 100px;
    background-image: url(./images/shapes/shape-1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 50px 100px;
    
}
.develop-image{
    width: 50%;
}
.develop-image img{
    width: 70%;
    padding-left: 150px;
    
}
.develop{
    width: 50%;
    padding-left: 70px;
    padding-right: 100px;
}
.develop-area h1{
    font-weight: 400;
    font-size: 40px;
}
.community-area{
    display: flex;
    margin-top: 120px;
    padding-bottom: 120px;
    background-image: url(./images/shapes/shape-1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 1040px 200px;
}
.community{
    width: 50%;
    padding-left: 150px;
}
.community-image{
    width: 50%;
}
.community-image img{
    width: 60%;
    padding-left: 120px;
}
.community-area h1{
    font-weight: 400;
    font-size: 40px;
}
.corona-section{
    margin-top: 100px;
}
.corona-area{
    display: flex;
    padding-top: 50px;
    background-image: url(./images/shapes/shape-2.png);
    background-size: 130px;
    background-repeat: no-repeat;
    background-position-x:160px;
    background-position-y: 30px;
}
.corona-image{
    width: 60%;
}
.corona-image img{
    width: 40%;
    padding-left: 200px;
}
.corona{
    width: 40%;
    padding-right: 200px;
}
.corona-section h1{
    text-align: center;
    font-size: 50px;
}
.corona h2{
    font-size: 50px;
}
footer{
    background-color: black;
    padding-bottom: 30px;
}
body{
    margin: 0px;
    padding: 0px;
}
footer h1{
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-top: 30px;
}
footer p{
    color: white;
    font-size: 13px;
    text-align: center;
}
.red{
    color: orangered;
}