h1{
    font-family: 'Orelega One', cursive;
}
.second-part h1{
    text-align: center;
    font-size: 40px;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.stay-focused{
    width: 80%;
    display: flex;
    margin: auto;
}
.focus{
    width: 40%;
    margin-top: 100px;
}
.focus h1{
    font-size: 50px;
    font-weight: 700;
}
.orange{
    color: orange;
}
.border{
    border-left: 5px solid orangered;
    padding-left: 10px;
}
.focus-image{
    width: 40%;
    padding-left: 150px;
}
.focus-image img{
    width: 100%;
}
.btn{
    background-color: #fc6c38fd;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
}
.mission-area{
    display: flex;
}
.mission{
    width: 25%;
    background-color: rgba(193, 227, 241, 0.326);
    border-radius: 20px;
    margin-left:120px;
}
.vission{
    width: 25%;
    background-color:rgba(240, 194, 202, 0.304);
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.goals{
    width: 25%;
    background-color: rgba(247, 247, 186, 0.541);
    border-radius: 20px;
    padding: 10px;
    
}
.img img{
    width: 50%;
}
.para{
    padding: 0px 20px;
}
.para p{
    font-size: 12px;
}
.second-part{
    margin-top: 100px;
}
